#u2304-4
{
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	font-family: abril-fatface, serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u2306,#u2652
{
	position: relative;
}

#u2655-6
{
	background-color: #F38202;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2655-6:hover
{
	background-color: #F7B467;
	background-color: rgba(243, 130, 2, 0.6);
	-pie-background: rgba(243, 130, 2, 0.6);
}

#u2655-6.MuseLinkActive
{
	background-color: #F7B467;
	background-color: rgba(243, 130, 2, 0.6);
	-pie-background: rgba(243, 130, 2, 0.6);
}

#u2655-2
{
	font-size: 20px;
	line-height: 0.1;
	padding-top: 34px;
}

#u2655-4
{
	font-size: 30px;
	line-height: 0;
	padding-top: 29px;
}

#u2653-6
{
	background-color: #73855F;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2653-6:hover
{
	background-color: #ABB59F;
	background-color: rgba(115, 133, 95, 0.6);
	-pie-background: rgba(115, 133, 95, 0.6);
}

#u2653-6.MuseLinkActive
{
	background-color: #ABB59F;
	background-color: rgba(115, 133, 95, 0.6);
	-pie-background: rgba(115, 133, 95, 0.6);
}

#u2653-2
{
	font-size: 20px;
	line-height: 0.1;
	padding-top: 34px;
}

#u2653-4
{
	font-size: 30px;
	line-height: 0;
	padding-top: 26px;
}

#u2656-6
{
	background-color: #6667A1;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2656-6:hover
{
	background-color: #A3A3C6;
	background-color: rgba(102, 103, 161, 0.6);
	-pie-background: rgba(102, 103, 161, 0.6);
}

#u2656-6.MuseLinkActive
{
	background-color: #A3A3C6;
	background-color: rgba(102, 103, 161, 0.6);
	-pie-background: rgba(102, 103, 161, 0.6);
}

#u2656-2
{
	font-size: 20px;
	line-height: 0.1;
	padding-top: 34px;
}

#u2656-4
{
	font-size: 30px;
	line-height: 0;
	padding-top: 26px;
}

#u2654-6
{
	background-color: #8D1E31;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u2654-6:hover
{
	background-color: #BA7883;
	background-color: rgba(141, 30, 49, 0.6);
	-pie-background: rgba(141, 30, 49, 0.6);
}

#u2654-6.MuseLinkActive
{
	background-color: #BA7883;
	background-color: rgba(141, 30, 49, 0.6);
	-pie-background: rgba(141, 30, 49, 0.6);
}

#u2654-2
{
	font-size: 20px;
	line-height: 0.1;
	padding-top: 34px;
}

#u2654-4
{
	font-size: 30px;
	line-height: 0;
	padding-top: 26px;
}

#u2305,#u2313
{
	border-color: #000000;
	background-color: #518D1E;
	position: relative;
}

#u3254
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2711-4
{
	color: #FFFFFF;
	text-align: center;
	position: relative;
}

